body {
    background-color: #b7e07d;
    margin: 0;
}

td {
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
}

.footerContent {
    text-align: right;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 10px;
    color: rgb(139, 0, 0);  
    font-size: smaller;
}

.myFooter {
    background-color: #83a750;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.HeaderTable {
    background-color: #83a750;
    width: 100%;
}

.HeaderLogo {
    cursor: pointer;
    width: 70px;
}

.DeleteButton{
    background-color: rgb(231, 57, 57);
}

.EditButton{
    background-color: rgb(255, 255, 103);
}

.AddButton{
    background-color: chartreuse;
}

.book{
    border: 2px double black;
    padding: 10px;
    font-size: 25px;
    margin-bottom: 10px;
}

.bookLink {
    text-decoration: none;
    color: black;
}

.bookArchive {
    width: 80%;
    margin: auto;
}

.paginationTable{
    margin: auto;
}

.jwt {
    white-space: normal
}


.loadingContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}